body {
    font-family: Helvetica;
    font-size: 2em;
    text-align: center;
}

p {
    color: blueviolet;
    font-weight: 700;
}

.headline {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 0.5em;
    background-color: yellow;
    color: rgb(224, 171, 36);
    padding: 5px;
    
}

hr {
    width: 10em;
}

li {
    list-style: none;
    color: WHITE;
    font-weight: 500;
}

.container {
    padding: 10px;
    background-color: purple;
    gap: 30px;
    display: flex;
}
